body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}
.x{
    background: #FFC700;
    border: #FFC700;
    margin: 5px;
    border-radius: 5px;
}

/* #suburbialDerecho {
    background: #fff;
    color: #333;
} */
.agregar{
    border-radius: 5px;
}
.btnEnviar {
    background: #545760;
    color: #eee;
    border: #545760;
    border-radius: 5px;
    height: 25px;
    width: 60px;
}
#suburbialIzquierdo {
    justify-content: flex-end;
    background: #fff;
}

#containerDerecho {
    display: flex;
    flex-direction: column;
}

#containerIzquierdo {
    background: #ffd800;
    height: 800px;
    width: 2000px;
}

.redesSociales {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 95%;
}

#containerImagen {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.containerParrafo {
    font-size: 15px;
    text-align: justify;
    border-top: 6px solid #FFC700;
    color: #000;
    padding: 30px 0 30px 30px;
    margin-bottom: 40px;
    text-align-last: end;
}

.logoFacebook {
    display: flex;
    flex-direction: column;
    width: 30px;
    filter: grayscale(1);
    margin-bottom: 30px;
}

.logoFacebook:hover,
.logoTwitter:hover,
.logoInstagram:hover {
    filter: none;
}

.logoTwitter {
    display: flex;
    flex-direction: column;
    width: 30px;
    filter: grayscale(1);
    margin-bottom: 30px;
}

.logoInstagram {
    display: flex;
    flex-direction: column;
    width: 30px;
    filter: grayscale(1);
}

.linkNext {
    display: flex;
    align-self: flex-end;
}

.body {
    display: flex;
    height: 100vh;
}

#suburbialDerecho,
#suburbialIzquierdo,
#containerSocial,
#containerNothing,
#containerTitle {
    width: 50%;
    display: flex;
    align-items: center;
}

.containerTitle1 {
    display: flex;
    align-self: flex-end;
    text-transform: uppercase;
    color: #777;
    font-size: 40px;
    transform: scaleY(3);
}

.containerTitle2 {
    background: #ffd800;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 50px;
    height: 110px;
    align-items: center;
    text-transform: uppercase;
    color: #000;
}

.btnMesero,
.btnCocinero {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: 100%;
}

h3 {
    transform: scale3d(1.3, 2, 5);
    width: 55%;
}

.title {
    transform: rotate(90deg);
    flex: none;
    margin-left: 75%;
    margin-top: 117%;
    text-transform: uppercase;
    color: #fff;
    font-family: fantasy;
    font-size: 100px;
}

.img {
    width: 680px;
    height: 450px;
    left: 35%;
    position: absolute;
    top: 20%;
}

/**/

#perifericoDerecho,
#perifericoCentral,
#perifericoIzquierdo {
    width: 50%;
    display: flex;
    align-items: center;
}

.nuevoFlex {
    background-color: #ffd800;
    height: 800px;
    width: 450px;
    background-position: center;
}

.nuevoGrupo {
    background-color: #545760;
    height: 800px;
    width: 450px;
    background-position: center;
}

#containerCentral {
    background-color: #464952;
    height: 800px;
    width: 450px;
}

.childFlex,
.childGrupo {
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
}

.linkFoods {
    display: flex;
    flex-direction: column;
}

.breakfast,
.lunch {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 40px;
    color: #eee;
    border-bottom: 1px solid #eee;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.nuevoGrupo .logoPrincipal {
    margin: 100px -60px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/titulo.png);
    background-size: cover;
    width: 260px;
    height: 50px;
}

.nuevoFlex .verListado {
    margin: 108px 60px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-image: url(../img/ver-pedidos.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    width: 320px;
    height: 45px;
}

.nuevoFlex .containerExtremoIzquierdo,
.nuevoGrupo .containerExtremoDerecho {
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#imagenMenu {
    margin-bottom: 20px;
    margin-left: 80px;
    filter: drop-shadow(2px 4px 6px black);
    margin-top: calc(-56px);
}

#tblDatos,
#cliente {
    margin-left: 4rem;
    font-size: 115%;
   
}

th,
td {
    border-right: 1px solid #000;
}

th#cantidad,
td#cantidad {
    border-right: none;
}

.botonName {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.inputTexto {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    width: 350px;
    font-size: 2rem;
    color: #eee;
}

#btnOk {
    border: none;
    padding: 20px;
    border-bottom: 1px solid #000;
    color: #000;
    cursor: pointer;
    background: transparent;
}
p {
    color: #eee;
}
.colour {
    color: #000;
}

.btnEliminar {
    border-radius: 50%;
    border: 2px solid #000;
    background: #ffd800;
    cursor: pointer;
}

button.btnProducto {
    width: 190px;
    margin-left: 25px;
    margin-top: 100px;
    margin-bottom: -70px;
    background-color: #464952;
    border-radius: 10%;
    cursor: pointer;
    border: 1px solid #f5f5f5;
}

.fotoDesayuno {
    width: 100px;
    height: 80px;
}
